@charset "UTF-8";
:root {
  --dguv-primary: #004994;
  --dguv-text: #000;
}

.vur .vur-search {
  margin-top: 48px;
}

.vur .vur-search label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.vur .vur-search input {
  min-width: 0;
  flex: 1;
  height: 79px;
  padding: 18px 24px;
  border: 1px solid var(--dguv-text);
  border-radius: 0;
  font-size: 22px;
}

.vur .vur-search button {
  min-width: 150px;
  margin-left: -1px;
  padding: 16px 24px;
  border: 1px solid var(--dguv-text);
  border-radius: 0;
  background: var(--dguv-primary);
  color: #fff;
  font-weight: 700;
}

@media (max-width: 1023.99px) {
  .vur .vur-search {
    margin-top: 32px;
  }

  .vur .vur-search input {
    height: 53px;
    padding: 12px;
    font-size: 16px;
  }

  .vur .vur-search button {
    min-width: auto;
    padding: 12px;
  }
}
